* {
	box-sizing: border-box;
}
.container {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

body {
	margin: 0;

	.first-song {
		background-color: black;
		padding: 20px;

		div {
			display: block;
			color: red;
			text-align: center;
			background-color: lightblue;
			border: 1px solid #000;
			border-radius: 15px;
			padding: 0 20px;
			box-shadow: 4px 4px 6px black;

			p {
				text-align: left;
				padding: 10px 0 10px 5px;
				margin: 0;
				color: green;
			}
		}
	}
}
